.custom-navbar {
    padding: 0 10px;
}

.back-button {
    margin: 10px 0px 0px 10px;
}

.navbar {
    position: relative;
}
.nav-heading {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
}
