<nav
    class="navbar has-shadow custom-navbar"
    role="navigation"
    aria-label="main navigation"
>
    <div class="navbar-brand">
        <a class="navbar-item" href="https://www.nagarro.com/en">
            <img
                src="https://www.nagarro.com/hubfs/NagarroWebsiteRedesign-Aug2020/Assets/Images/Nagarro%20green%20logo%20with%20title_opt.svg"
                width="112"
                height="28"
            />
        </a>

        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <ng-container *ngIf="isTeacherUrl()">
        <div id="navbarBasicExample" class="navbar-menu">
            <ng-container *ngIf="signedin$ | async">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a
                                class="button is-warning"
                                routerLink="teacher//signout"
                                routerLinkActive="active"
                            >
                                <strong>Sign out</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="!(signedin$ | async)">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a
                                class="button is-primary"
                                routerLink="/teacher/signup"
                                routerLinkActive="active"
                            >
                                <strong>Sign up</strong>
                            </a>
                            <a
                                class="button is-light"
                                routerLink="/teacher/signin"
                                [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active"
                            >
                                Sign in
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</nav>

<router-outlet></router-outlet>
